*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.1s;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
  font-family: 'Heebo', sans-serif;
  background: #3b4754;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#informationScreen{
  position: absolute;
  top: 100%;
}

section {
  height: 100%;
  width: 100%;
  display: table;
  z-index: 0;
}

.header{
  right: 0;
  position: absolute;
  width: 90%;
  height: 8%;
  color: white;
  text-align: center;
}

#sidebar{
  display: block;
  position: absolute;
  background-color: black;
  height: 100%;
  width: 10%;
  left: 0;
  top: 0;
}

#clock{
  display: block;
  float: right;
  padding: 0.5em;
}

#clock2{
  display: block;
  float: right;
  padding: 0.5em;
}

.title{
  display: block;
  float: left;
  padding: 0.5em;
}

.currentspeedsection {
  height: 8em;
  vertical-align: middle;
  text-align: center;
  width: 45%;
  left: 0;
}

.timeearned {
  height: 8em;
  vertical-align: middle;
  text-align: center;
  width: 45%;
  left: 0;
}

#speed {
  display: block;
  position: absolute;
  height: 100%;
  width: 45%;
  left: 10%;
  top: 0;
}

#currentspeed{
  font-size: 5rem;
  line-height: 0.3;
}

#milesperhourtext{
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}
#currentDistance{
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#rewardhistory{
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#timeinfo{
  display: block;
  position: absolute;
  height: 100%;
  width: 45%;
  right: 0%;
  top: 0;
}

.center{
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

#currentime{
  font-size: 5rem;
  line-height: 0.3;
}

#secondsleft{
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.statLine{
  font-size: 1.5rem;
  padding: 1em;
  width: 100%;
}

#stattitle{
  margin: 0;
  padding-right: 2em;
  display: block;
  float: left;
  color: #728090;
}

#data{
  padding-left: 1em;
  display: block;
  float: right;
  color: white;
}
